html {
    font-family: 'Courier New', monospace;
    font-size: 14px;
    font-style: normal;
}

#container {
    position: relative;
}

select, button {
    color: black; /* Text color */
    background-color: white; /* Background color */
    border: 1px solid #333; /* Clean border */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); /* Minimal shadow */
    padding: 2px 1px; /* Padding for better appearance */
    margin: 5px; /* Margin for spacing */
    cursor: pointer; /* Cursor changes to pointer on hover */
}

/* Style for options in select */
select option {
    color: black; /* Text color for options */
    background-color: white; /* Background color for options */
    padding: 5px; /* Padding for options */
}

/* Hover effects */
select:hover, button:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2); /* Slightly larger shadow on hover */
}

/* Focus effects */
select:focus, button:focus {
    outline: none; /* Remove default focus outline */
    border-color: #666; /* Darker border on focus */
}

select:focus, button:focus {
    outline: 2px solid blue; /* More noticeable focus outline */
}

#select-container {
    background-color: white; /* Background color */
    border: 1px solid #333; /* Clean border */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); /* Minimal shadow */
}

#select-container-footnotes {
    font-size: 0.9em; /* Makes the text smaller */
    color: #635a5a; /* Optional: changes the color to a lighter shade for a note-like appearance */
    border-left: 3px solid #666666; /* Optional: adds a left border for emphasis */
    font-style: italic; /* Optional: makes the text italic */
}

#methodology-container {
    color: #635a5a; /* Optional: changes the color to a lighter shade for a note-like appearance */
    border-left: 3px solid #666666; /* Optional: adds a left border for emphasis */
    font-style: italic; /* Optional: makes the text italic */
}

#opts-container {
    padding: 10px;
}

#plot-container {
    display: flex; /* Enables Flexbox */
    flex-direction: column; /* Stacks children vertically */
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#plot-container-top-row {
    display: flex; /* Enables Flexbox for the top row */
    justify-content: center;
    align-items: center;
}

#plot-container-chart {
    flex: 1 1 auto; /* Don't grow, shrink as needed, based on content */
}

#plot-container-methodology {
    flex: 1 1 auto; /* Don't grow, shrink as needed, based on content */
    padding-left: 2px;
     /* Adds some space between the chart and methodology */
}

#plot-container-action-button {
    margin-top: 2px; /* Adds space above the button */
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Centers the button horizontally */
}
